In [1]:
import pandas as pd
import yfinance as yf
import pandas_datareader.data as pdr

In [16]:
yf.pdr_override()

data = pdr.get_data_yahoo('SPY', start='2024-03-26' ,end='2024-04-30', interval='5m')

[*********************100%%**********************]  1 of 1 completed

In [17]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-03-26 09:30:00-04:00,521.229980,521.440002,520.880005,521.359985,521.359985,1571734
2024-03-26 09:35:00-04:00,521.349976,521.429993,520.969971,521.090027,521.090027,551075
2024-03-26 09:40:00-04:00,521.090027,521.208374,520.830017,521.155029,521.155029,1697398
2024-03-26 09:45:00-04:00,521.164978,521.280029,521.065979,521.190002,521.190002,411373
2024-03-26 09:50:00-04:00,521.190002,521.250000,520.890015,520.955017,520.955017,350673
...,...,...,...,...,...,...
2024-04-29 15:35:00-04:00,508.849091,508.950012,508.480011,508.665009,508.665009,531758
2024-04-29 15:40:00-04:00,508.679993,509.059998,508.505005,508.910004,508.910004,563066
2024-04-29 15:45:00-04:00,508.910004,509.149994,508.750000,508.829987,508.829987,568674
2024-04-29 15:50:00-04:00,508.829987,509.739990,508.790009,509.660004,509.660004,1149757
2024-04-29 15:55:00-04:00,509.660004,510.200012,509.554993,510.049988,510.049988,3868028

In [19]:
data['shifted'] = data.Open.shift(-3)
data['movement']= (data.Open.shift(-3) > data.Open).replace({True:1, False: 0})
data.to_csv("15min_spy.csv",mode='a',header=False)

C:\Users\zeyad\AppData\Local\Temp\ipykernel_16156\1891554686.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['movement']= (data.Open.shift(-3) > data.Open).replace({True:1, False: 0})

,Open,High,Low,Close,Adj Close,Volume,shifted,movement
Datetime,,,,,,,,
2024-03-26 09:30:00-04:00,521.229980,521.440002,520.880005,521.359985,521.359985,1571734,521.164978,0
2024-03-26 09:35:00-04:00,521.349976,521.429993,520.969971,521.090027,521.090027,551075,521.190002,0
2024-03-26 09:40:00-04:00,521.090027,521.208374,520.830017,521.155029,521.155029,1697398,521.039978,0
2024-03-26 09:45:00-04:00,521.164978,521.280029,521.065979,521.190002,521.190002,411373,521.250000,1
2024-03-26 09:50:00-04:00,521.190002,521.250000,520.890015,520.955017,520.955017,350673,521.320007,1
...,...,...,...,...,...,...,...,...
2024-04-29 15:35:00-04:00,508.849091,508.950012,508.480011,508.665009,508.665009,531758,508.829987,0
2024-04-29 15:40:00-04:00,508.679993,509.059998,508.505005,508.910004,508.910004,563066,509.660004,1
2024-04-29 15:45:00-04:00,508.910004,509.149994,508.750000,508.829987,508.829987,568674,NaN,0
2024-04-29 15:50:00-04:00,508.829987,509.739990,508.790009,509.660004,509.660004,1149757,NaN,0
2024-04-29 15:55:00-04:00,509.660004,510.200012,509.554993,510.049988,510.049988,3868028,NaN,0